body {
    background-color: #f7ecdd;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.canban {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    * {
        font-family: "Comic Sans MS", "Arial", "sans-serif";
    }
}

/* Стили для доски */
.canban-board {
    flex-grow: 1;
    width: min-content;
    height: fit-content;
    margin: 1em;
    border: 10px solid #eddac0;
    box-shadow: -1px 14px 0px 2px rgb(0 0 0 / 29%);
    background-color: #c9966f;
}

/* Заголовок доски */
.canban-board-title {
    margin: 0;
    padding: 1em;
    text-align: center;
    color: white;
}

/* правая половина */
.canban-right {
    flex-shrink: 0;
    flex-wrap: wrap;
}

/* чаша прогресса */
.canban-progress {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 500px;
    aspect-ratio: 3 / 5;
    border: 1px solid rgb(207, 207, 207);
    border-top: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    margin: 1em;
    box-shadow: -2px 6px 0px 2px rgba(0, 0, 0, 0.29);
    background: linear-gradient(0deg, rgba(207, 207, 207, 1) 0%, rgba(232, 251, 255, 1) 100%);
}

/* Стикеры на доске */
.canban-stickers {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: calc(90vh - 3em);
    align-content: flex-start;
    
    /* полосf прокрутки */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* дорожка */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Бегунок */
    &::-webkit-scrollbar-thumb {
        background-color: #261805;
        border-radius: 20px;
        border: 3px solid #261805;
    }
}

/* Один стикер */
.canban-sticker {
    position: relative;
    width: 300px;
    padding: 1em;
    margin: 1em;
    background-color: chartreuse;

    /* Текст внутри стикера */
    &__text {
        padding: 1em;
        margin: 0;
        word-break: break-word;
    }

    /* галочку у стикера */
    &__finished_button {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5em;
        cursor: pointer;
        transition: all 0.5s;

        /* галочку у стикера при наведении на нее курсора мышки */
        &:hover {
            cursor: pointer;
            animation-name: light-rotation;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }
}

@keyframes light-rotation {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

@keyframes light-scale {
    25% {
        transform: scale(110%);
    }

    75% {
        transform: scale(100%);
    }
}

/* Класс, показывающий удаление стикера */
.removing {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    transition: all 1s;
}

/** Завершенный стикер в чаше */
.canban-sticker-finished {
    height: 14%;
    position: relative;
    background-image: url("../images/paper.png");
    opacity: 1;
    animation: light-scale 1s 1;

    /** Фон у завершенного стикера */
    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #7adc184d;
    }

    /** Текст у завершенного стикера */
    &__text {
        opacity: 0;
        transition: all 0.5s;

        /** При наведении курсора мышки появляется текст у завершенного стикера  */
        .canban-sticker-finished:hover & {
            position: absolute;
            opacity: 1;
            top: 0;
            bottom: 0;
            padding: 0.5em;
        }
    }
}

/* Добавление стикеров */
.canban-add {
    width: 300px;
    padding: 0;
    margin: 2em 1em;
}

/* Поле ввода текста нового стикера */
.sticker-textarea {
    width: 100%;
    height: 250px;
    padding: 1em;
    border: none;
    border-radius: 0;
    transition: all 0.5s;
    box-shadow: -1px 3px 0px 1px rgba(0, 0, 0, 0.29);
    background-color: chartreuse;
}

/* Кнопка добавления нового стикера */
.button {
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    background-color: #c9966f;
    transition: all 0.5s;

    /* Кнопка добавления при наведении мышки увеличивается */
    &:hover {
        transition: transform 0.5s;
        transform: scale(110%);
    }
}

@media (max-width: 992px) {
    .canban-board {
        min-height: fit-content;
        width: 100vw;
        order: 2;
        margin: 0;
    }

    .canban-right {
        display: flex;
        width: 100vw;
        order: 1;
    }

    .canban-progress {
        height: 350px;
    }

    .canban-add {
        margin: 1em;
    }
}